bin-debug/
bin-release/
.idea/
temp/
.wing
debug.log
manifest.json
libs/node_modules/*
libs/modules/*
unit-test/*
libs/package-lock.json
Pipfile
Pipfile.lock
script_jdb/gameini_config.json
script_jdb/compressImage.pyc
script_jdb/buildSoundDataMap.pyc
